@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

em {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

html {
  @apply w-screen overflow-x-clip scroll-smooth motion-reduce:scroll-auto;
}

body {
  font-family: "PT Sans", sans-serif;
  @apply w-screen bg-background overflow-x-clip;
}

h2 {
  @apply text-xl tracking-widest uppercase text-on-primary-container;
}

a {
  @apply hover:underline text-primary;
}

* {
  @apply transition-colors;
}

.color-slider::-webkit-slider-thumb {
  @apply w-5 h-5 rounded-md appearance-none cursor-pointer ring ring-surface;
  background: hsl(var(--hue) 100% 50%);
}

.color-slider::-moz-range-thumb {
  @apply w-5 h-5 rounded-md appearance-none cursor-pointer ring ring-surface;
  background: hsl(var(--hue) 100 50%);
}

.slider::-webkit-slider-thumb {
  @apply w-2 h-2 rounded-md appearance-none cursor-pointer bg-on-surface ring-2 ring-surface;
}

.slider::-moz-range-thumb {
  @apply w-2 h-2 rounded-md appearance-none cursor-pointer bg-on-surface ring-2 ring-surface;
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

p {
  @apply mb-4;
}

aside {
  @apply italic;
}

code {
  @apply rounded bg-on-surface/10;
}

/* gradient border */
.gradient-border {
  position: relative;
  border-radius: var(--border-radius);
}

.gradient-border::before {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0;
  border-radius: var(--border-radius);
  padding: var(--border-width);
  background-image: var(--border-gradient);
  mask: linear-gradient(#fff 0 0) content-box subtract,
    linear-gradient(#fff 0 0);
}
/* end gradient border */

/* animated gradient bg */
:root {
  --gradient-animation-duration: 10s;
}

@keyframes gradient-background-animation {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-33%) translateY(-33%);
  }
}

.bg-animated-gradient::after {
  content: "";
  width: 150%;
  height: 150%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    to bottom right,
    var(--tw-gradient-from) 25%,
    var(--tw-gradient-via) 50%,
    var(--tw-gradient-to) 75%
  );
  animation: gradient-background-animation var(--gradient-animation-duration)
    ease-in-out infinite alternate;
}

@media (prefers-reduced-motion: reduce) {
  .bg-animated-gradient::after {
    animation: none;
  }
}
/* end animated gradient bg */

/* animated gradient button */
@property --progress {
  initial-value: 0;
  inherits: false;
  syntax: "<number>";
}

@property --progress-2 {
  initial-value: 0;
  inherits: false;
  syntax: "<number>";
}

@keyframes progress {
  from {
    --progress: 0;
  }
  to {
    --progress: 1;
  }
}

@keyframes progress-2 {
  from {
    --progress-2: 0;
  }
  to {
    --progress-2: 1;
  }
}

.gradient-button {
  background-image: linear-gradient(
    to right,
    var(--tw-gradient-from)
      calc(-150 * (var(--progress, 0) + var(--progress-2, 0)) * 1%),
    var(--tw-gradient-via)
      calc((50 - 150 * (var(--progress, 0) + var(--progress-2, 0))) * 1%),
    var(--tw-gradient-to)
      calc((100 - 150 * (var(--progress, 0) + var(--progress-2, 0))) * 1%),
    var(--tw-gradient-from)
      calc((150 - 150 * (var(--progress, 0) + var(--progress-2, 0))) * 1%),
    var(--tw-gradient-via)
      calc((200 - 150 * (var(--progress, 0) + var(--progress-2, 0))) * 1%),
    var(--tw-gradient-to)
      calc((250 - 150 * (var(--progress, 0) + var(--progress-2, 0))) * 1%),
    var(--tw-gradient-from)
      calc((300 - 150 * (var(--progress, 0) + var(--progress-2, 0))) * 1%),
    var(--tw-gradient-via)
      calc((350 - 150 * (var(--progress, 0) + var(--progress-2, 0))) * 1%),
    var(--tw-gradient-to)
      calc((400 - 150 * (var(--progress, 0) + var(--progress-2, 0))) * 1%)
  );
  -webkit-animation: progress 6s linear infinite,
    progress-2 linear infinite 1s reverse paused;
}
.gradient-button:hover {
  animation-play-state: running;
}
/* end animated gradient button */

.firefox-only {
  display: none;
}

@-moz-document url-prefix() {
  .firefox-only {
    display: unset;
  }
}

@-moz-document url-prefix() {
  .firefox-hidden {
    display: none;
  }
}

/* hljs syntax highlighting */
.hljs-attribute,
.hljs-keyword,
.hljs-built_in {
  @apply text-purple-dark;
}
.hljs-selector-pseudo,
.hljs-selector-class,
.hljs-selector-tag,
.hljs-number {
  @apply text-primary-container-light;
}
.hljs-comment {
  @apply text-outline;
}
