@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

em {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

body {
  font-family: "PT Sans", sans-serif;
  @apply bg-background overflow-x-clip;
}

h2 {
  @apply text-xl tracking-widest uppercase text-on-primary-container;
}

a {
  @apply hover:underline text-primary;
}

* {
  @apply transition-colors;
}

.slider::-webkit-slider-thumb {
  @apply w-5 h-5 rounded-md appearance-none cursor-pointer ring ring-surface;
  background: hsl(var(--hue) 100% 50%);
}

.slider::-moz-range-thumb {
  @apply w-5 h-5 rounded-md appearance-none cursor-pointer ring ring-surface;
  background: hsl(var(--hue) 100 50%);
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

p {
  @apply mb-4;
}
