@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

em {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

html {
  @apply w-screen overflow-x-clip scroll-smooth motion-reduce:scroll-auto;
}

body {
  font-family: "PT Sans", sans-serif;
  @apply w-screen bg-background overflow-x-clip;
}

h2 {
  @apply text-xl tracking-widest uppercase text-on-primary-container;
}

a {
  @apply hover:underline text-primary;
}

* {
  @apply transition-colors;
}

.color-slider::-webkit-slider-thumb {
  @apply w-5 h-5 rounded-md appearance-none cursor-pointer ring ring-surface;
  background: hsl(var(--hue) 100% 50%);
}

.color-slider::-moz-range-thumb {
  @apply w-5 h-5 rounded-md appearance-none cursor-pointer ring ring-surface;
  background: hsl(var(--hue) 100 50%);
}

.slider::-webkit-slider-thumb {
  @apply w-2 h-2 rounded-md appearance-none cursor-pointer bg-on-surface ring-2 ring-surface;
}

.slider::-moz-range-thumb {
  @apply w-2 h-2 rounded-md appearance-none cursor-pointer bg-on-surface ring-2 ring-surface;
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

p {
  @apply mb-4;
}

aside {
  @apply italic;
}

code {
  @apply rounded bg-on-surface/10;
}

.gradient-border {
  position: relative;
  border-radius: var(--border-radius);
}

.gradient-border::before {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0;
  border-radius: var(--border-radius);
  padding: var(--border-width);
  background: var(--border-gradient);
  mask: linear-gradient(#fff 0 0) content-box subtract,
    linear-gradient(#fff 0 0);
}

@property --gradient-progress {
  initial-value: 0;
  inherits: false;
  syntax: "<number>";
}

:root {
  --gradient-animation-duration: 10s;
  --range: 50;
}

@keyframes animate-gradient {
  from {
    --gradient-progress: 0;
  }
  to {
    --gradient-progress: 1;
  }
}

.bg-animated-gradient {
  background-image: linear-gradient(
    to bottom right,
    var(--tw-gradient-from)
      calc((var(--range) * var(--gradient-progress, 1) - var(--range) / 2) * 1%),
    var(--tw-gradient-via)
      calc(
        (50 + var(--range) * var(--gradient-progress, 1) - var(--range) / 2) *
          1%
      ),
    var(--tw-gradient-to)
      calc(
        (100 + var(--range) * var(--gradient-progress, 1) - var(--range) / 2) *
          1%
      )
  );
  -webkit-animation: animate-gradient var(--gradient-animation-duration)
    ease-in-out infinite alternate;
}

@media (prefers-reduced-motion: reduce) {
  .bg-animated-gradient {
    animation: none;
  }
}

.gradient-button {
  --duration: 6s;
  background-image: linear-gradient(
    to right,
    var(--tw-gradient-from) calc(-150 * var(--gradient-progress, 0) * 1%),
    var(--tw-gradient-via) calc((50 - 150 * var(--gradient-progress, 0)) * 1%),
    var(--tw-gradient-to) calc((100 - 150 * var(--gradient-progress, 0)) * 1%),
    var(--tw-gradient-from) calc((150 - 150 * var(--gradient-progress, 0)) * 1%),
    var(--tw-gradient-via) calc((200 - 150 * var(--gradient-progress, 0)) * 1%),
    var(--tw-gradient-to) calc((250 - 150 * var(--gradient-progress, 0)) * 1%)
  );
  -webkit-animation: animate-gradient var(--duration) linear infinite;
}
.gradient-button:hover {
  --duration: 3s;
}
